@model Raita.Web.Models.Editor
<link rel="stylesheet" href="/css/jquery-ui.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="/css/ace_autocomplete.css" type="text/css" media="screen" charset="utf-8" />
<script data-main="/js/sample" src="/js/require-jquery.js"></script>
@*<script src="/Scripts/Ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/Scripts/Ace/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
<script src="/Scripts/Ace/mode-gherkin.js" type="text/javascript" charset="utf-8"></script>
<script>
	window.onload = function () {
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/twilight");
		
		var JavaScriptMode = require("ace/mode/gherkin").Mode;
		editor.getSession().setMode(new JavaScriptMode());
	};
</script>*@
<div id="editor">@Model.Content</div>