@model Raita.Web.Models.Editor
<link rel="stylesheet" href="/css/jquery-ui.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="/css/ace_autocomplete.css" type="text/css" media="screen" charset="utf-8" />
<script data-main="/js/editor" src="/js/require-jquery.js"></script>
<div id="editor" style="font-size: 16pt">@Model.Content</div>